@import url("/styles/root.css");

@media (min-width: 319px) {
  .hero-container {
    position: relative;
    width: 100%;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--deep-blue);
    border-bottom: var(--deep-blue) 15px solid;
  }

  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
    object-fit: contain;
  }

  .hero-content {
    top: 0;
    z-index: 1;
    color: var(--deep-blue);
    text-align: center;
    text-shadow: 1px 1px 0 var(--base-yellow), -1px 1px 0 var(--base-yellow),
      1px -1px 0 var(--base-yellow), -1px -1px 0 var(--base-yellow);
  }

  .hero-heading {
    font-family: "Outfit", serif;
    font-weight: 500;
    font-size: 50px;
    /* text-shadow: 5px 3px 3px rgba(42,54,99,0.53); */
  }
}

@media (min-width: 425px) {
  .hero-video {
    transform: translate(-50%, -50%) scale(0.4);
  }
}

@media (min-width: 768px) {
  .hero-video {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@media (min-width: 1024px) {
  .hero-container {
    height: 30vh;
  }
  .hero-video {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@media (min-width: 1440px) {
  .hero-container {
    height: 45vh;
  }
  .hero-video {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media (min-width: 1500px){
  .hero-video {
    transform: translate(-50%, -50%) scaleX(0.9);
  }
}

@media (min-width: 1700px) {
  .hero-container {
    height: 40vh;
  }
  .hero-video {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media (min-width: 2000px) {
  .hero-container {
    height: 35vh;
  }
  .hero-video {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@media (min-width: 2560px) {
  .hero-container {
    height: 35vh;
  }
  .hero-video {
    transform: translate(-50%, -50%) scale(1.5);
  }
}
