@import url("/styles/root.css");
@import url("/animations/slide-in.css");

@media (min-width: 320px) and (max-width: 767px) {
  .navbar-container {
    width: 100%;
    padding: 2%;
    min-height: 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-cream);
    border-bottom: var(--deep-blue) 10px solid;
  }

  #menu-toggle {
    display: none;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(1em + 3vw);
    cursor: pointer;
  }

  .shopping-cart {
    width: calc(1em + 6vw);
  }

  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 49.99%;
    background-color: var(--light-cream);
    width: 100%;
    padding: 5%;
    z-index: 1000;
    border-radius: 0 0 כ 5px 5px;
    box-shadow: 9px 8px 15px -2px rgba(42, 54, 99, 0.7);
    -webkit-box-shadow: 9px 8px 15px -2px rgba(42, 54, 99, 0.7);
    -moz-box-shadow: 9px 8px 15px -2px rgba(42, 54, 99, 0.7);
    border: var(--deep-blue) solid 4px;
    transform: translateX(-50%);
    animation: slide-in 1.5s ease-out forwards;
  }

  .menu a {
    list-style-type: none;
    display: block;
    text-decoration: none;
    color: var(--deep-blue);
    font-family: "Outfit", serif;
    padding: 7%;
  }

  .menu .close-btn {
    display: block;
    text-align: right;
    cursor: pointer;
    color: var(--deep-blue);
    font-weight: bold;
  }

  #menu-toggle:checked + .menu-btn + .menu {
    display: block;
  }

  .close-btn {
    color: var(--deep-blue);
  }
}

@media (min-width: 767px) {
  .navbar-container {
    width: 100%;
    padding: 2%;
    max-height: 60px !important;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--light-cream);
    border-top: var(--deep-blue) 1px solid;
    border-bottom: var(--deep-blue) 15px solid;
  }

  #menu-toggle,
  .shopping-cart,
  .close-btn,
  .menu-btn {
    display: none;
  }

  .menu {
    width: 100%;
  }

  .navbar-links {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-links a {
    text-decoration: none;
    color: var(--deep-blue);
    font-family: "Outfit", serif;
    font-weight: 300;
    font-size: 1.2em;
  }
}
