@import url("../animations/spin.css");

@media (max-width: 319px) {
  .site-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: url("../assets/background/line-pattern-3.jpg");
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
    background-position: 530px 2875px;
    background-size: initial;
    justify-content: center;
    align-items: center;
  }

  .navbar-container,
  .hero-container,
  .best-sellers-container,
  .best-sellers-gallery,
  .photoshoot-title-container,
  .photoshoot-gallary,
  .footer-container {
    display: none;
  }

  .spinner-container {
    display: block;
    width: 100px;
    animation: spin 2s linear infinite;
  }

  .spinner-container img {
    width: 100px;
  }
}
